doctype html 
html
	head 
		meta(charset="UFT-8")
		link(rel="stylesheet", href="/css/ejercicio-pug.css")
	body 
		header 
			h1 PlatziGames 
			a.boton Registro
		section.intro 
			.intro__imagen: img(src="/images/imagen.png", alt="alt")
			.intro__contenido 
				h2 Titulo Principal 
				p 
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				| sed do eiusmod    tempor incididunt ut 
				| labore et dolore magna aliqua.
				span Lorem ipsum dolor sit amet consectetur, adipisicing elit.
				a.boton Leer Mas